<div id="<%= dom_id letterbox %>">
  <p><%= link_to "番組：#{letterbox.program.title}", letterbox.program %></p>
  <h4>
    <strong>Title:</strong>
    <%= link_to letterbox.title, letterbox %>
  </h4>
  <%= link_to 'お便りはこちらから =>', program_path(letterbox.program, letter:{letterbox_id: letterbox.id})%>
</div>
<br>