<% content_for :title, "お便り箱の編集" %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-primary mb-4">お便り箱の編集</h2>
      
      <%= render "form", program: @program, letterbox: @letterbox %>

      <div class="mt-4 d-flex gap-3">
        <%= link_to "戻る", @letterbox.program, class: "btn btn-outline-primary rounded-pill px-4 hover-lift" %>
      </div>
    </div>
  </div>
</div>