<p style="color: green"><%= notice %></p>

<% content_for :title, "お便り箱一覧" %>

<h1>Letterboxes</h1>

<div id="letterboxes">
  <%= render @letterboxes %>
</div>

<%= link_to "New letterbox", new_letterbox_path %>
