<% content_for :title, "新規お便り箱" %>

<div class="container py-5">
  <%= render 'shared/flash_message' %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-primary mb-4">新規お便り箱</h2>
      
      <%= render "form", letterbox: @letterbox, program: @program %>

      <div class="mt-4">
        <%= link_to "一覧に戻る", @program, class: "btn btn-outline-secondary rounded-pill px-4 hover-lift" %>
      </div>
    </div>
  </div>
</div>