<% content_for :title, "新規アカウント登録" %>

<div class="container py-5">
  <%= render 'shared/flash_message' %>
  <div class="glass-morphism p-4 mb-4">
    <h1 class="text-gradient h2 mb-4">
      <i class="bi bi-person-plus me-3"></i>
      新規アカウント登録
    </h1>

    <swiper-container class="mySwiper d-none d-lg-block" effect="cards" grab-cursor="true" navigation="true" pagination="true">
      <swiper-slide>
        <div class="py-4 px-4">
          <div class="card glass-morphism-signup border-0">
            <div class="card-body p-5">
              <%= render "form" %>
            </div>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide>
        <%= render "infomation" %>
      </swiper-slide>
    </swiper-container>

    <div class="card-body p-1 d-block d-lg-none">
      <%= render "form" %>
    </div>
  </div>
</div>

  <style>
    swiper-container {
      width: 90%;
    }

    swiper-slide {
      border-radius: 12px;
      background-position: center;
      align-items: center;
    }

    /* スライド内のコンテンツサイズ調整 */
    swiper-slide > div {
      width: 90%;
      margin: 0 auto;
    }

    .swiper-slide-shadow {
      background: rgba(255, 255, 255, 0);
    }

    @media (max-width: 992px) {
      swiper-container {
        width: 100%;
      }

      swiper-slide > div{
        width: 100%;
      }
    }
  </style>