<p style="color: green"><%= notice %></p>

<% content_for :title, "番組一覧" %>

<h1>番組一覧</h1>
<% if current_user %>
	<p><%= link_to "番組新規作成 =>", new_program_path %></p>
<% end %>

<div id="programs">
    <%= render @programs %>
</div>