<h2>以下のURLを招待したい相手に伝えてください</h2>
<%= "招待リンクは#{@expiration_time}に期限切れになります"%>
<p>期限切れになった場合は再度招待リンクを生成してください</p>
<p>招待リンクは１時間が経過するか再度リンクを生成すると古いものが期限切れになります</p>
<p>招待したい相手以外には伝えないように気を付けてください</p>
<%= edit_program_invitation_url(@program, params[:id]) %>