<%= turbo_frame_tag dom_id(letter, :rating) do %>
  <div class="rating-group">
    <% 5.times do |i| %>
      <%= link_to letter_add_star_path(letter, star: i + 1),
          data: { turbo_method: :patch },
          class: "star-link" do %>
        <i class="bi <%= i < letter.star ? 'bi-star-fill' : 'bi-star' %>"></i>
      <% end %>
    <% end %>
  </div>
  <%= link_to letter_commit_star_path(letter, star: letter.star ) ,data: { turbo_method: :patch }, class: "star-commit-link" do %>
    <i class="bi bi-check"></i> 確定
  <% end %>
<% end %>