<div class="container-fluid py-5">
  <%= render 'shared/flash_message' %>
  <div class="glass-morphism p-4">
    <%= render @letter %>

    <div class="text-center mt-4">
      <%= link_to letter_random_path(letterbox_id: @letterbox_id, program_id: @program.id),
          class: "btn btn-primary rounded-pill px-4 hover-lift",
          data: { turbo_prefetch: false } do %>
        <i class="bi bi-shuffle me-2"></i>
        もう一度ランダム表示
      <% end %>
    </div>
  </div>
</div>